/* Reset some default styles for better consistency */
body, p{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    list-style: none;
}

/* Navigation Styles */
nav {
    background-color: #555;
    padding: 10px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.pstyle{
    margin: 20px;
    padding: 10px;
    background: #f0f0f0;
}

/* Add this style to limit the width of images */
img {
    height: 250px;
    
}

.headerimg{
    height: 150px;
    width: 1000px;
}

/* Content Styles */
main {
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

