img{
    height: 100%;
    width: 100%;
}


p.nachtFoto{
    font-size: large;
    position: absolute;
    color: rgb(35, 209, 110);
    
}               



.container {
    width: 50%;
    margin: 0 auto;
}